body {
    font-family: "Urbanist", sans-serif;
    height: 100vh;
}

.navbar-toggler {
    margin-left: auto;
}

div>ol[class=breadcrumb] {
    margin-left: 8px;
}

h1 {
    margin-bottom: 20px;
    font-size: 45px;
}

h3 {
    margin-bottom: 10px;
}

.row-content {
    padding: 30px 0;
    min-height: 125px;
    border-bottom: 2px ridge;
}

.social-buttons {
    margin-bottom: 10px;
}

@media (width <=576px) {
    .about-text {
        text-align: center;
    }

    .aboutMe-pic {
        justify-content: space-around;
    }

    div[class=media] {
        text-align: center;
        margin-top: 10px;
    }
}

.about-list .media {
    padding: 5px;
}

.about-list label {
    color: #20247b;
    font-weight: 600;
    width: 88px;
    margin: 0;
    position: relative;
}

.about-list p {
    margin: 0;
    font-size: 15px;
}