body {
    font-family: "Urbanist", sans-serif;
    height: 100vh;
}

.navbar-toggler {
    margin-left: auto;
}

div>ol[class=breadcrumb] {
    margin-left: 8px;
}

h1 {
    margin-bottom: 20px;
    font-size: 45px;
}

h3 {
    margin-bottom: 10px;
}

.row-content {
    padding: 30px 0;
    min-height: 125px;
    border-bottom: 2px ridge;
}

.social-buttons {
    margin-bottom: 10px;
}

div[class=tab-content] {
    margin-top: 45px;
}

.aboutMe-pic {
    padding-right: 10px;
    margin-top: 4px;
}

.music-pic {
    padding-left: 10px;
    margin-top: 5px;
}

.food-pic {
    padding-right: 10px;
    margin-top: 5px;
}

.aboutMe-text {
    line-height: 1.2;
    text-align: justify;
}

.no-line {
    border-bottom: none;
}

@media (width <=576px) {
    .about-text {
        text-align: center;
    }

    .aboutMe-pic {
        justify-content: space-around;
    }
/*Scrollable tab panes*/
    .tab-content .tab-pane {
    max-height: 300px;
    overflow-y: auto;
    }

    .tabPic-left {
        margin-left: 18px;
    }

    .tabPic-right {
        margin-right: 18px;
        margin-bottom: 12px;
    }

}

@media (width >=576px) {

}