body {
    font-family: "Urbanist", sans-serif;
    height: 100vh;
    background-color: #f3f0eb;
}

nav {
    background-color: #f3f0eb;
}
.navbar {
    background-color: #a3c77042;
}

nav[class=navbar] {
    background-color: #f3f0eb;
}

.navbar-toggler {
    margin-left: auto;
}

div>ol[class=breadcrumb] {
    margin-left: 8px;
}

.nav-tabs .nav-link {
    background-color: #f3f0eb;
    color: black;
}

.nav-tabs .nav-link.active {
    background-color: #edba8380;
}

footer {
    background-color: #a3c77042;
}

.modal-header {
    background-color: #a3c77042;
}

.modal-body {
    background-color: #f3f0eb;
}

.modal-footer {
    background-color: #a3c77042;
}
strong {
    color: #58895d;
}

h1 {
    margin-bottom: 20px;
    font-size: 45px;
}

h3 {
    margin-bottom: 10px;
}

.row-content {
    padding: 30px 0;
    min-height: 125px;
    border-bottom: 2px ridge;
}

.social-buttons {
    margin-bottom: 10px;
}

.card-body {
    background-color: #a3c77042;
}

div[class=tab-content] {
    margin-top: 45px;
}

.aboutMe-pic {
    padding-right: 10px;
    margin-top: 4px;
    height: 16rem;
}

.music-pic {
    padding-left: 10px;
    margin-top: 5px;
    height: 16rem;
}

.food-pic {
    padding-right: 10px;
    margin-top: 5px;
    height: 16rem;
}

.hobbies-pic {
    padding-left: 10px;
    margin-top: 5px;
    height: 16rem;
}


.aboutMe-text {
    line-height: 1.2;
    text-align: justify;
}

.no-line {
    border-bottom: none;
}

/*Scrollable tab panes*/
    .tab-content .tab-pane {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    }


@media (width <=576px) {
    .about-text {
        text-align: center;
    }

    .aboutMe-pic {
        justify-content: space-around;
    }

    .aboutMe-tabPic {
        margin-top: 8px;
        width: 100%;
        max-width: 24rem;
    }


}

@media (min-width: 576px) and (max-width: 992px) {
    p[class=aboutMe-text] {
        margin-top: 30px;
    }

    .aboutMe-tabPic {
        margin-top: 14px;
    }
}

@media (width >=992px) {
    .aboutMe-tabPic {
        margin-top: 8px;
        margin-bottom: 0px;
        width: 100%;
        max-width: 24rem;
    }

        p[class=aboutMe-text] {
        margin-top: 60px;
    }

}